## Things I code with

{% for devicon in devicons %}<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/{{ devicon }}.svg" alt="{{ devicon }}" width="32" height="32">{% endfor %}

## Things I want to do

- GameBoy Color support (https://github.com/mj-hd/gb, https://github.com/mj-hd/dashboy)
- Blackhole Ray-Tracing (like https://github.com/vlwkaos/threejs-blackhole)
- ...etc

## Open Source Projects

|Projects|Description|stars|forks|
|--------|-----------|-----|-----|
{% for project in projects -%}
|[{{ project.name }}]({{ project.url }})|{{ project.desc }}|{{ project.stars }}|{{ project.forks }}|
{% endfor %}

## Latest gists

{% for gist in gists -%}
- [{{ gist.title }}]({{ gist.url }})
{% endfor %}

## Latest posts

{% for post in posts -%}
- [{{ post.title }}]({{ post.url }})
{% endfor %}
